{% extends 'new/general/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}






<style>
    .page-heading{
        height: 30px;
    }
  
  </style>
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>update Personal Information</h1>
          <span>update your Information below</span>
        </div>
      </div>
    </div>
  </div>


<div class="container" style="margin-top: 100px;">




<a href="{% url 'account:edit-customer' %}" type="button" class="btn btn-success">Personal Information</a>
<a href="{% url 'loanApp:edit-bank' %}" type="button" class="btn btn-danger">Bank Details</a>

<!--<a href="" type="button" class="btn btn-info">Phone</a>-->

<a href="" type="button" class="btn btn-dark">Update Password</a>



</div>


{% endblock %}