{% extends 'new/general/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}





<style>
    .page-heading{
        height: 30px;
    }
  
  </style>
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>update page</h1>
          <span>update your Information below</span>
        </div>
      </div>
    </div>
  </div>

<div class="container my-5">



    <div class="row">
        <div class="p-5 m-auto my-5 rounded shadow-lg col-md-6 bg-body">
            <h3 class="text-center text-success">Update Your Information </h3>
           


        </div>
    </div>


</div>









{% endblock %}