{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block body_block %}


{% include 'navbar.html' %}



<div class="container" style="margin-top: 100px;">




<a href="{% url 'account:edit-customer' %}" type="button" class="btn btn-success">Personal Information</a>
<a href="{% url 'loanApp:edit-bank' %}" type="button" class="btn btn-danger">Bank Details</a>

<!--<a href="" type="button" class="btn btn-info">Phone</a>-->

<a href="" type="button" class="btn btn-dark">Update Password</a>



</div>

{% include 'footer.html' %}
{% endblock %}