{% extends 'new/general/base.html' %}

{% load static %}


{% block css_block %}
<style>

</style>

{% endblock %}

{% block content %}
<style>
     .height-100 {
      display: none !important;
  }
  .navbar-expand-lg{
    display: none !important;
  }
</style>
{% include 'admin/adminbase.html' %}

<div class="container">
    <h1 class="text-center text-primary">All Transaction Payment</h1>
    <div class="my-5 users">



        <table class="table text-center table-light table-hover table-bordered table-striped">
            <thead class="bg-dark ">
                <tr class="text-dark ">
                    <th scope="col">SL</th>

                    <!--<th scope="col">User ID</th>-->
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>

                    <th scope="col">Payment Amount</th>
                    <th scope="col">Transaction ID</th>
                    <th scope="col">Date</th>

                   


                </tr>
            </thead>
            <tbody>
                {% for loan in transactions %}

                <tr>
                    <th scope="row">{{forloop.counter}}</th>

                    <!--<td>{{loan.customer.id}}</td>-->
                    <td>{{loan.customer.first_name}}</td>
                    <td>{{loan.customer.last_name}}</td>

                    <td>₦{{loan.payment}} </td>
                    <td>{{loan.transactionId}}</td>
                    <td>{{loan.payment_date}}</td>
                   


                </tr>
                {% endfor %}

            </tbody>

        </table>





    </div>



</div>


{% endblock %}