{% extends 'new/general/base.html' %}
  {% load static %}
  {% block content %}

<style>
  .team-item img{
   width: 100%;

  }
</style>

  <body>


    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>About Us</h1>
            <span>We have over 20 years of experience</span>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info about-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>our solid background on finance</span>
                    <h2>Get to know about <em>our company</em></h2>
                   <p>We are your financial advisors and lenders.We help you navigate through all your monetary challenges.
                    <br><br>Think of money lenders,think of Simsudresources.We are your next door neighbours.Just contact us right away.</p>
                    <a href="{% url 'loanApp:contact_us' %}" class="filled-button">Contact us today</a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="/static/images/happiness.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="team">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our team <em>members</em></h2>
              <span>Suspendisse a ante in neque iaculis lacinia</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="/static/images/passport_photo.jpg" alt="">
              <div class="down-content">
                <h4>William Smith</h4>
                <span>Co-Founder</span>
                <p>An entrepreneur who understands the dynamics of business.He can go any length to help businesses grow.</p>
             
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="/static/assets/images/team_02.jpg" alt="">
              <div class="down-content">
                <h4>Mary Houston</h4>
                <span>Chief Marketing Officer</span>
                <p>An entrepreneur who understands the dynamics of business.He can go any length to help businesses grow.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="/static/images/vic.jpg" alt="">
              <div class="down-content">
                <h4>Paul Walker</h4>
                <span>Financial Analyst</span>
                <p>In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. Aliquam ipsum urna, semper quis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="testimonials">
      <div class="container">
       
      </div>
    </div>



{% endblock  %}