{% extends 'new/general/base.html' %}
  {% load static %}
  {% block content %}


    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content" >
                  <h6>we are ready to help you</h6>
                  <h4>Financial Analysis<br>&amp; Consultancy</h4>
                  <p>We are here to help you finance your immediate projects like boosting your business,hospital bills,paying rent, buying a car,
                    paying school fees, etc.</p>
                    <p>Join the many business owners and workers  we’ve helped turn great ideas into thriving businesses</p>
                  <a href="{% url 'loanApp:contact_us' %}" class="filled-button">contact us</a>
                  <h3>{% for i in abb %}</h3>
                  <h3 style="color: green">{{ i.mydate}}</h3>
                  <h3 style="color: green">{{ i.get_dattime}}</h3>
              
                  {% endfor %}
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content" style="margin-top: 80px">
                  <h6>we are here to support you</h6>
            
                  <p>Your business is succeeding and you’re ready to take the next step. Verity is here to help you grow your business by providing a suite of loan products to fit all your needs. With local Seattle Business experience and understanding, as well as local loan decisions, Verity provides the trusted, professional, and personal service you deserve from your financial institution</p>
                  <p>Get a loan and invest into your business.We one call away from getting that loan .Contact us today for your financial freedom !</p>
                  <p>Manage the ups and downs of your business needs with a line of credit</p>
                  <ul>
                    <li>Low variable interest rates</li>
                    <li>Funds available for practically any purpose</li>
                    <li>Avoid excess interest payments</li>
                    <li>Borrow up to your business’ credit limit </li>
                    <li>Earn rewards each time you spend  </li>
                  </ul>
                  <a href="{% url 'loanApp:services' %}" class="filled-button">our services</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content" style="margin-top: 40px">
                  <h6>Cash Management Services</h6>
                  <h4>Market Analysis<br>&amp; Statistics</h4>
              
                  <p>Simsudresources  offers a full range of cash management services to meet your unique business needs.
                  Our solutions are designed to help optimize your cash flow position and contribute to the effective management of your business's day-to-day operations</p>
                  <p>Simsudresources Helps you actualize your dreams by making finance available & by
                   helping you execute a wide range of cash management transactions, all designed to help you manage your cash flow more efficiently</p>
                  <!--<a href="about.html" class="filled-button">learn more</a>-->
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Request a call back right now ?</h4>
            <span>We are one call away from getting the funds you desire.</span>
          </div>
          <div class="col-md-4">
            <a href="{% url 'loanApp:contact_us' %}" class="border-button">Contact Us</a>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Financial <em>Services</em></h2>
              <span>Aliquam id urna imperdiet libero mollis hendrerit</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="assets/images/service_01.jpg" alt="">
              <div class="down-content">
                <h4>Digital Currency</h4>
                <p>Providing you with the tools you need to optimize your cash flow.We offers a full range of cash management services to meet your unique business needs.</p>
              
       
                <a href="" class="filled-button">contact us today to know more</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="assets/images/service_02.jpg" alt="">
              <div class="down-content">
                <h4>Market Analysis</h4>
                <p>We do not only lend you money to meet your immediate nneds, we also help to analyze and advise you on the best business descions you shoukd take to grow your business.</p>
                <a href="" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="assets/images/service_03.jpg" alt="">
              <div class="down-content">
                <h4>Historical Data</h4>
                <p> Our solutions are designed to help optimize your cash flow position and contribute to the effective management of your business's day-to-day operation
                </p>
                <a href="" class="filled-button">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <!--<span>Lorem ipsum dolor sit amet</span>-->
              <h2>Our solutions for your <em>business growth</em></h2>
              <p>We have a very high approval rate for people who apply for loan. We make it possible because we want your business to grow.</p>
              <p>We have alternate lending solutions for people looking for loans other than banks. We can provide loans that are not provided by bank</p>
              <p>Wait for the processing after you submit your loan application and wait to be contacted by one of our loan representatives</p>
            
              <a href="" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">24</div>
                  <div class="count-title">Work Hours</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">225</div>
                  <div class="count-title">Great Reviews</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">228</div>
                  <div class="count-title">Succesful Applications.</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">30</div>
                  <div class="count-title">Requests everyday</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="/static/images/bankslide1.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Who we are</span>
                    <h2>Get to know about <em>our company</em></h2>
                    <p> We are your friend who want the growth of your business and are ready to support you to any length.All you need is to reach out to us and we get it done.</p>
                    <p>We are a purpose-driven team, committed to results in an inclusive and high-performance cultur</p>
                    <p>With us, you can bank on us that your need is met.Enjoy today while saving for tomorrow. We’ll help you stay on track so you can enjoy the moment.</p>
                        <!--<a href="#" class="filled-button">Read More</a>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   

    <div class="callback-form">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Request a <em>call back</em></h2>
              <span></span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="contact-form">
              <form id="contact" action="" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="border-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partners">
      <div class="container">
       
      </div>
    </div>

{% endblock %}
  


