{% extends 'new/general/base.html' %}
  {% load static %}
  {% block content %}


  <style>
    footer{
	margin-top: 30px;
}
  </style>
    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Our Services</h1>
            <span>Over the years, we have served our clients with all support they need.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="single-services">
      <div class="container">
        <div class="row" id="tabs">
          <div class="col-md-4">
            <ul>
              <li><a href='#tabs-1'>Loan Lending <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-2'>Market Analysis <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-3'>Financial Data <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-4'>Accounting Service <i class="fa fa-angle-right"></i></a></li>
  
            </ul>
          </div>
          <div class="col-md-8">
            <section class='tabs-content'>
              <article id='tabs-1'>
                <img src="{% static 'assets/images/single_service_04.jpg' %}" alt="">
                <h4>Loan Lending</h4>
                <p>Are you looking for instant loans to meet up with your immediate  financial needs? If so,you are atthe right place.SimsudResources offers instant loan to enable you do your  business transactions.
                <br><br>We also have products for those who want to meet up with other financial obligations like school fees, medical or house rents. We are your next door neighbours.Just a phone call away and your needs are met instantly.</p>
              </article>
              <article id='tabs-2'>
                <img src="{% static 'assets/images/single_service_01.jpg' %}" alt="">
                <h4>Market Analysis</h4>
                <p>SimsudResources understands the dynamics of SMEs.In whichever level you are, we have products the cover fit your needs.We have both qualitative and quantitative assessments of the current market.  
                <br><br>We have the expertise to turn around your business.Creating  market analysis for your business and making financial provsion for the success of your business  is the sole of our existence.
                Your financial success is our goal.</p>
              </article>
              <article id='tabs-3'>
                <img src="{% static 'assets/images/single_service_02.jpg' %}" alt="">
                <h4>Financial Data</h4>
                <p>The world runs on data and data determines the success or otherwise of a business.We gather data from similar businesses which thrive well as well as the season of boom and use such data to advise our clients.  
                <br><br>Wishing to find out the viability of your prospective business venture? Look no further as SimsudResources is here for you. Just a call away and we provide you with the necessary data to help you make best decisions.</p>
              </article>
              <article id='tabs-4'>
                <img src="{% static 'assets/images/single_service_03.jpg' %}" alt="">
                <h4>Accounting Service</h4>
                <p>From daily contribution for a particular project you want to embark on to helping you manage your money in a secure and ever ready available service.
                <br><br> This service is so crucial to a business that it determines if businesses can survive or not. At SimsudResources,we have experts who detailed to last kobo to make sure your account is up to date and correct. </p>
              </article>
            
            </section>
          </div>
        </div>
      </div>
    </div>

 

  {% endblock %}


   