
</div><a href="#bottom">Bottom</a>
<h1>precious<h1>
<h2>great day<h2>
<h3>so happy</h3>
<h4> happy father day</h4>
<h5>happy sunday</h5>
<h6> mr nuel is a good man</h6>

<p>mr nuel said does not like soft drink </p>
<p> <b>mr nuel said does not like soft drink</b> </p>


<p><b>am so very happy</b></p>

<div><h1>hello</h1></div>


<div><p>how are you doing today being sunday?</p></div>

<div> <h2>wonderful</h2></div>


<div> <h2> powerful</h2></div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">hi</div>
        <div class="col-lg-4">homw</div>
        <div class="col-lg-4">amen</div>
    </div>
</div>
<a href=""></a>


<div class="container">


 <style>
    img{
        width: 100px;
        /*border-radius: 10px;*/
        border-radius: 50%;
        float: left;
        margin-right: 10px;
    }
    .u{
        font-weight: bold;
    }
 </style>   
<img src="/static/images/img.jpeg" alt="">
<p class="u">@nuel4u</p>
<p>i love my profession</p>

<pre>how    are 
    you?</pre>

<a href="#top"> up up</a>