{% extends 'base.html' %}
{% load static %}

{% block css_block %}


<style>
    .row {
        height: 80vh;

    }
</style>
{% endblock %}

{% block body_block %}

{% include 'navbar.html' %}

<div class="container">
    <h3>welcome {{ user }}!</h3>

    {% for message in messages %}
    <p id="messages">{{ message }}</p>
 {% endfor %}
    <div class="row">
        <div class="col-md-6 m-auto">
            <img src="{% static 'images/loan.jpg' %}" class="img-fluid mx-auto" alt="Background Image" srcset="">

        </div>
        <div class="col-md-6 m-auto">
            <div class="d-flex justify-content-center align-items-center">
                <a href="{% url 'loanApp:loan_request'%}">
                    <button type="button" class="btn btn-info btn-rounded m-2">Apply For A Loan</button>
                </a>

                or
                <a href="/account/signup-customer/">

                    <button type="button" class="btn btn-info btn-rounded ms-2">Register</button>
                </a>
                <h3>{% for i in abb %}</h3>
                <h3 style="color: green">{{ i.mydate}}</h3>
                
                <h3>{{i.get_date}}</h3>
                {% endfor %}
             

            </div>
            <!--<a href="">

                <button type="button" class="btn btn-info btn-rounded ms-2">Student</button>
            </a>-->

        </div>
    </div>
</div>



{% include "footer.html" %}
{% endblock %}