{% extends 'new/general/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title_block %}
Loan Request
{% endblock %}


{% block content %}
<style>
      .page-heading{
        height: 30px !important;
    }
</style>

<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ user.first_name }} {{user.last_name}}</h1>
          <span>Request Page</span>
         
         
        </div>
      </div>
    </div>
  </div>



<div class="container my-5">

    <div class="row mb-5">
        <div class="p-5 m-auto rounded shadow-lg col-md-6 bg-body">
            <h3 class="text-center text-success"> Request For Loan</h3>
            </h3>
            
        </div>
    </div>





</div>



{% endblock %}