{% extends 'new/general/base.html' %}

{% load static %}


{% block block_js %}
<script>

</script>
{% endblock %}


{% block css_block %}
<style>

</style>

{% endblock %}

{% block content %}
<style>
  
 .page-heading{
        height: 30px !important;
    }
 @media (max-width:750px) {
    .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: 0px;
}
.text-center {
    text-align: center!important;
    font-size: 14px;
}
    
 }  
 @media (max-width: 650px){
.text-center {
    text-align: center!important;
    font-size: 12px;
} 
 }
 @media (max-width:580px) {
    .table td, .table th {
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
    
 }
</style>



<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Loan Request History</h1>
          <span>{{ user.first_name }} {{user.last_name}}</span>
         
        </div>
      </div>
    </div>
  </div>

<div class="container my-5">
    <!--<h1 class="text-center text-primary">Loan Request History</h1>-->
    <div class="my-5 users">



        <table class="table text-center table-light table-hover table-bordered table-striped">
            <thead class="bg-light ">
                <tr class="text-dark ">
                    <th scope="col">SL</th>

                    <th scope="col">Request Amount</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Status</th>

                    <th scope="col">Request Date</th>
                    <th scope="col">Date Approved</th>
                    <th scope="col">Payment</th>
                 


                </tr>
            </thead>
            <tbody>
                {% for loan in loans %}

                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                  
                 
                  
                    <td># {{loan.amount}} </td>
                    <td>{{loan.category}}</td>

                    <td>
                        <button type="button" class="px-3 text-white btn btn-info btn-sm">
                            {{loan.status}}
                        </button>
                    </td>
                   
                    <td>{{loan.request_date}}</td>

                    {% for d in get_info %}
                    <td>{{d.date_approved}}</td>
                    <td>{{ d.payment }}</td>
                    {% endfor %}
                   
                  



                </tr>
               
                {% endfor %}

            </tbody>

        </table>





    </div>



</div>


{% endblock %}