{% extends 'new/general/base.html' %}

{% load static %}





{% block css_block %}
<style>
    .main-section {
        margin-bottom: 500px;
    }
    .page-heading{
        height: 30px !important;
    }
</style>

{% endblock %}

{% block content %}





<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Payment Transaction</h1>
          <span>{{ user.first_name }} {{user.last_name}}</span>
         
         
             {% if messages %}
             {% for message in messages %}
             <p id="messages">{{ message }}</p>
             {% endfor %}
             {% else %}
             {% endif %}
        </div>
      </div>
    </div>
  </div>

<div class="container my-5 ">
    <!--<h1 class="text-center text-primary">My Payment Transaction</h1>-->
    <div class="my-5 users main-section">



        <table class="table text-center table-light table-hover table-bordered table-striped">
            <thead class="bg-light ">
                <tr class="text-dark ">
                    <th scope="col">SL</th>

                    <th scope="col">User ID</th>
                 
                    <th scope="col">Date Of Payment</th>
                    <th scope="col">Payment ID</th>
                    <!--<th scope="col">Approved Date</th>-->
                    <th scope="col">Amount Paid</th>
   


                </tr>
            </thead>
            <tbody>
                {% for loan in transactions %}

                <tr>
                    <th scope="row">{{forloop.counter}}</th>

                    <td>{{loan.customer.id}}</td>
                  
                    <td>{{loan.payment_date}}</td>
                    <td>{{loan.transactionId}}</td>
                    <td>₦{{loan.payment}}</td>
                   <td>{{loan.interestRate}}</td>

                   
                <!---{% for cust in loan.customer.loan_user.all %}
                 <td>{{ cust.date_approved  }}</td>
                <td>#{{loan.payment}}</td>
               
                 <td>#{{ cust.total_loan }}</td>
                    <td>#{{ cust.payable_loan}}</td>
                    {% endfor %}

                <td>#{{bal}}</td>-->
                  

                    
                </tr>
                {% endfor %}
        
            </tbody>

        </table>





    </div>



</div>



{% endblock %}